.card {
  border-radius: 8px;
  background-color: #3b3b3b1a;
  padding: 5px 15px;
}

.title {
  display: inline-block;
}

.editBtn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
